<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>REGISTER!</h1>
</head>
<body>
  <form action="/register" method="POST" enctype="application/x-www-form-urlencoded">

  <label for="POST-username">username: </label>
  <input id="POST-username" type="text" name="username">

  <label for="POST-password">Choose a password: </label>
  <input id="POST-password" type="text" name="password">

  <input type="submit" value="submit">
  </form>
  
</body>
</html>